{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>
    {% include "snippets/styles.html" %}
</head>
<style>
    body {
        overflow-x: hidden;
    }

    #card-material {
        padding: 10px;
        background-color: lightblue;
    }
</style>

<body id="dasboard-body">
    <div class="container">
        <nav id="myNav" class="navbar myNavbar navbar-expand-md navbar-dark  fixed-top">
            <a class="nav-link px-2  sideMenuToggler">
                <i class="material-icons icon expandView icon-my-bavbar mr-2">
                    menu
                </i>
            </a>
            <div class="title-navbar">
                <a href="{% url 'app:dashboard' %}" class="navbar-brand">
                    <img src="{% static 'img/brand3.png' %}" alt="">
                </a>
            </div>
            <button id="mobileNav" class=" navbar-toggler text-white" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="material-icons icon">
                    menu_open
                </i>
            </button>
            <div class="ml-auto collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container">
                    <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
                        <img src="{{ user.profile.image.url }}" alt="" class="rounded-circle ml-auto mr-2">
                        {{ request.user.username }}
                    </div>
                    <a href="{% url 'app:profile' user.username %}" class="ml-4" data-toggle="tooltip"
                        data-placement="bottom" title="Profile">
                        <i class="material-icons icon icon-my-bavbar">
                            person
                        </i>
                    </a>
                    <a id="NavRight" class="ml-4 right-menu-btn NavRight" data-toggle="tooltip" data-placement="bottom"
                        title="Settings">
                        <i class="material-icons icon icon-my-bavbar">
                            settings
                        </i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div class="wrapper d-flex">
        <div class="sideMenu shadow">
            <div class="sidebar">
                <ul class="navbar-nav mt-4 ">
                    <li class="nav-item active">
                        <a href="{% url 'app:dashboard' %}" data-toggle="tooltip" data-placement="right"
                            title="Dashboard" class="nav-link nav-link-dashboard active px-2 ">
                            <i class="material-icons md-18 icon mycon mycon-1">
                                dashboard
                            </i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'app:profile' user.username %}" data-toggle="tooltip" data-placement="right"
                            title="Account Profile" class="nav-link nav-link-dashboard px-2">
                            <i class="material-icons md-18 mycon mycon-2 icon">
                                person
                            </i>
                            <span class="text">Account Profile</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link nav-link-dashboard px-2 disabled">
                            <i class="material-icons icon md-18 mycon mycon-3">
                                insert_chart
                            </i>
                            <span class="text">Charts</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'app:predict' %}" data-toggle="tooltip" data-placement="right" title="Form"
                            class="nav-link nav-link-dashboard px-2">
                            <i class="material-icons icon mycon md-18 mycon-4">
                                description
                            </i>
                            <span class="text">Form</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'app:data' %}" data-toggle="tooltip" data-placement="right" title="Data"
                            class="nav-link nav-link-dashboard px-2">
                            <i class="material-icons icon mycon md-18 mycon-5">
                                table_view
                            </i>
                            <span class="text">Data</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link nav-link-dashboard px-2 disabled">
                            <i class="material-icons icon mycon md-18 mycon-6">
                                list
                            </i>
                            <span class="text">Todo List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'app:table' %}" class="nav-link nav-link-dashboard px-2">
                            <i class="material-icons icon mycon md-18 mycon-7">
                                table_view
                            </i>
                            <span class="text">Table Data</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="modal" data-target="#modalLogOut"
                            class="nav-link btn-logout nav-link-dashboard px-2">
                            <i class="material-icons icon mycon md-18 mycon-8">
                                login
                            </i>
                            <span class="text text-white">Sign out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="menuRight" class="rightMenu animate__animated animate__slideInRight shadow">
            <div class="sidebarRight">
                <div class="color-button">
                    <h6 class="path-desc font-weight-bold mb-3">Change Navbar Background</h6>
                    <div class="row">
                        <div class="col">
                            <div class="btn-color btn-color-purple" type="button" onclick="changeNavColor('#8315c4');">
                            </div>
                        </div>
                        <div class="col">
                            <div class="btn-color btn-color-blue" type="button" onclick="changeNavColor('#0b8dc9');">
                            </div>
                        </div>
                        <div class="col">
                            <div class="btn-color btn-color-green" type="button" onclick="changeNavColor('#008080');">
                            </div>
                        </div>
                        <div class="col">
                            <div class="btn-color btn-color-gray" type="button" onclick="changeNavColor('#666666');">
                            </div>
                        </div>
                        <div class="col">
                            <div class="btn-color btn-color-red" type="button" onclick="changeNavColor('#f84646');">
                            </div>
                        </div>
                        <div class="col">
                            <div class="btn-color btn-color-orange" type="button" onclick="changeNavColor('#f19823');">
                            </div>
                        </div>
                    </div>
                    <div class="custom-control custom-switch mt-4">
                        <input type="checkbox" class="custom-control-input" id="darkSwitch" />
                        <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="content mt-4">
            <main class="animate__animated animate__fadeIn">
                <div class="container-fluid">
                    <div class="item">
                        <div class="row">
                            <div class="col-8">
                                <div class="d-inline path-design">
                                    <button class="btn btn-primary d-inline"><i class="fas fa-home"></i></button>
                                    <h6 class="d-inline ml-2 path-desc font-weight-bold">Dashboard</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row card-dashboard">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-4 my-3">
                                <div class="card-item card-item-1">
                                    <div class="row">
                                        <div class="col-9 col-sm-10 col-md-10 col-lg-10">
                                            <h5>Last Login</h5>
                                        </div>
                                        <div class="col col-sm-2 col-md-2 col-lg-2">
                                            <i class="fas fa-chart-line card-item-icon"></i></button>
                                        </div>
                                    </div>
                                    <h5>{{ request.user.last_login }}</h5>
                                    <h6 class="mt-5">Remember your account</h6>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-4 my-3">
                                <div class="card-item card-item-2">
                                    <div class="row">
                                        <div class="col-9 col-sm-10 col-md-10 col-lg-10">
                                            <h5>Staff Status</h5>
                                        </div>
                                        <div class="col col-sm-2 col-md-2 col-lg-2">
                                            <i class="fas fa-id-card card-item-icon"></i>
                                        </div>
                                    </div>
                                    <h5 id="status">{{ request.user.is_staff }}</h5>
                                    <h6 class="mt-5">Hello {{ request.user.username }}</h6>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-4 my-3">
                                <div class="card-item card-item-3">
                                    <div class="row">
                                        <div class="col-9 col-sm-10 col-md-10 col-lg-10">
                                            <h5>Account Card</h5>
                                        </div>
                                        <div class="col col-sm-2 col-md-2 col-lg-2">
                                            <i class="fas fa-users card-item-icon"></i>
                                        </div>
                                    </div>
                                    <h5 id="status">{{ request.user.id }}</h5>
                                    <h6 class="mt-5">Your id account </h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-12 col-lg-7 my-3">
                                <div class="card-statistic shadow">
                                    <div class="row">
                                        <div class="title-chart-dashboard col-10">
                                            <h5>Visitors Online</h5>
                                        </div>
                                    </div>
                                    <canvas id="myChartDashboard" width="600" height="470"></canvas>
                                </div>
                            </div>
                            <div class="col-md-12 col-12 col-lg-5 my-3">
                                <div class="card-statistic-calendar shadow">
                                    <div class="card-calendar">
                                        <div class="row main-year">
                                            <div class="col-xs-1 col-1 col-md-1 col-lg-1">
                                                <h2 class="text-white"><i class="far fa-calendar-alt icon-calendar"></i>
                                                </h2>
                                            </div>
                                            <div class="col-xs-6 col-6 col-md-6 col-lg-7 year_month">
                                                <h6 class="month font-weight-bold" id="monthAndYear"></h6>
                                                <p class="clock"></p>
                                            </div>
                                            <div class="col-xs-5 col-4 col-md-4 col-lg-3 button-change text-center">
                                                <button class="btn btn-primary btn-sm" id="previous"
                                                    onclick="previous()"><i class="fas fa-chevron-left"></i></button>
                                                <button class="btn  btn-sm btn-secondary" id="next" onclick="next()"><i
                                                        class="fas fa-chevron-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-calendar">
                                        <div class="table-responsive">
                                            <table class=" table table-borderless" id="calendar" data-lang="en">
                                                <thead id="thead-month"></thead>
                                                <tbody id="calendar-body"></tbody>
                                            </table>
                                        </div>
                                        <div class="footer-container-calendar">
                                            <label for="month">Jump To: </label>
                                            <select id="month" onchange="jump()">
                                                <option value=0>Jan</option>
                                                <option value=1>Feb</option>
                                                <option value=2>Mar</option>
                                                <option value=3>Apr</option>
                                                <option value=4>May</option>
                                                <option value=5>Jun</option>
                                                <option value=6>Jul</option>
                                                <option value=7>Aug</option>
                                                <option value=8>Sep</option>
                                                <option value=9>Oct</option>
                                                <option value=10>Nov</option>
                                                <option value=11>Dec</option>
                                            </select>
                                            <select id="year" onchange="jump()"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- Modal Logout-->
    <div class="modal fade" id="modalLogOut" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog" role="document">
            <div class="modal-content modal-logout">
                <div class="modal-header modal-header-logout">
                    <h5 class="modal-title" id="exampleModalLongTitle">Are you sure want to logout ?</h5>
                    <button type="button" class="close close-modal-logout" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-body-logout">
                    <p>If you logout, you must login again to access this page.</p>
                </div>
                <div class="modal-footer modal-footer-logout">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{% url 'app:logout' %}" type="button" class="btn myBtn">Sign out</a>
                </div>
            </div>
        </div>
    </div>
    {% include "snippets/scripts.html" %}
    <script>
        const ctx = document.getElementById('myChartDashboard').getContext('2d');
        let myChartDashboard = new Chart(ctx, {
            type: 'bar',
            barPercentage: 0.1,
            barThickness: 0.4,
            maxBarThickness: 4,
            minBarLength: 1,
            data: {
                datasets: [{
                    data: [20, 50, 100, 75, 25, 15],
                    label: 'Order Income',
                    backgroundColor: 'rgb(116, 6, 160)',
                    // This binds the dataset to the left y axis
                    yAxisID: 'left-y-axis'
                }, {
                    data: [30, 20, 35, 28, 40, 25],
                    label: 'Product Sold',
                    backgroundColor: 'rgb(32, 180, 224)',
                    // This binds the dataset to the right y axis
                    yAxisID: 'right-y-axis'
                }],
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']
            },
            options: {
                legend: {
                    display: true,
                    position: 'bottom',
                    labels: {
                        fontColor: "#71768a"
                    }
                },
                title: {
                    display: true,
                    fontSize: 20,
                    position: 'left',
                    text: 'Statistics ',
                    fontColor: '#71768a'
                },
                scales: {

                    yAxes: [{
                        id: 'left-y-axis',
                        type: 'linear',
                        position: 'left',
                        beginAtZero: true,
                        ticks: {
                            beginAtZero: true,
                            fontColor: "#71768a"
                        }

                    }, {
                        id: 'right-y-axis',
                        type: 'linear',
                        position: 'right',
                        beginAtZero: true,
                        ticks: {
                            beginAtZero: true,
                            fontColor: "#71768a"
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontColor: "#71768a"
                        }
                    }]
                },
                animation: {
                    easing: "easeInCirc",
                    duration: 2000
                }
            }
        });

        if (document.getElementById("status").innerHTML == 'True') {
            document.getElementById("status").innerHTML = 'Admin';
        } else {
            document.getElementById('status').innerHTML = 'Member';
        }

        function clock() {
            const time = new Date(),
                hours = time.getHours(),
                minutes = time.getMinutes(),

                seconds = time.getSeconds();

            document.querySelectorAll('.clock')[0].innerHTML = harold(hours) + ":" + harold(minutes) + ":" + harold(seconds);

            function harold(standIn) {
                if (standIn < 10) {
                    standIn = '0' + standIn
                }
                return standIn;
            }
        }
        setInterval(clock, 1000);

        document.getElementById("NavRight").addEventListener("click", rightMenu);
        document.getElementById("mobileNav").addEventListener("click", rightMenu);
        function rightMenu() {
            const searchbar = document.getElementById("menuRight");
            const display = getComputedStyle(menuRight).display;

            if (display == "none") {
                searchbar.style.display = "block";
            } else {
                searchbar.style.display = "none";
            }
        }

        function changeNavColor(color) {
            document.getElementById("myNav").style.background = color;
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

    </script>
</body>

</html>